footer {
  background-color: #1d1d1d;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

footer .footer p {
  margin: 0;
}

footer .section > div {
  max-width: 100%;
  padding: 0;
}
